{% extends "stories/base.html"%}
{% load static %}

{% block content %}
    <div class="container login-container">
        <div class="col-md-7 login-form-2">
            <h1>Login</h1>
            <form method="POST"> {% csrf_token%}
                <div class="form-group">
                    {{form.username}}
                    <br>
                </div>
                <div class="form-group">
                    {{form.passwd}}
                    <br>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                    <br>
                </div>
                <div class="form-group">
                    <br>
                    <a href="{% url 'password_reset' %}" class="ForgetPwd" value="Login">Forget Password?</a>
                </div>
                <div class="form-group">
                    <br>
                    <br>
                    <a href="{% url 'sign_up' %}" class="SignUp" value="Login">Sign Up?</a>
                </div>
                <input type="hidden" name=flag value="logIn"/>
            </form>
            <div class="container">
                {% for msg in messages %}
                    {% if msg.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            <p style="font-size: 20px; font-weight: 600;">{{ msg }}</p>
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            <p style="font-size: 20px; font-weight: 600;">{{ msg }}</p>
                        </div>
                       
                    {% endif %}
                {% endfor %}		
            </div>
        </div>
    </div>
{% endblock content%}