{% extends "stories/base.html"%}
{% load static %}

{% block content %}
    <div class="container login-container">
        <div class="col-md-7 login-form-2">
            {% if validlink %}
                <p>Please enter (and confirm) your new password.</p>
                <form action="" method="POST"> {% csrf_token%}
                    <div class="form-group">
                        {{form.new_password1}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{form.new_password2}}
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Change" />
                        <br>
                    </div>
                </form>
                {% else %}
                    <h3>Password reset failed</h3>
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
                {% for msg in messages %}
                    <div class="alert alert-danger" role="alert">
                        <p style="size: 25px; font-weight: 600;">{{ msg }}</p>
                    </div>
                {% endfor %}
        </div>
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
    </div>

{% endblock content%}