{% extends "stories/base.html"%}
{% load static %}

<!--Miss if user exists!!!-->
{% block content %}
    <div class="container login-container">
        <div class="col-md-7 login-form-2">
            <h3>Password Reset</h3>
            <form action="" method="POST"> {% csrf_token%}
                <div class="form-group">
                    {{form.email}}
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Send Email" />
                    <br>
                </div>
            </form>
        </div>
    </div>

{% endblock content%}