<option value="">--Select {{select}}--</option>

{% if select == "Corridor" %}
    {% for subcat in corridor_list %}
        <option value="{{ subcat.corridor_id }}">{{ subcat.corridor_name}}</option>
    {% endfor %}
{% endif %}


{% if select == "Pipe" %}
    {% for subcat in pipe_list %}
        <option value="{{ subcat.id }}">{{ subcat.name}}</option>
    {% endfor %}
{% endif %}

{% if select == "Load Port" %}
    {% for subcat in load_port_list %}
        <option value="{{ subcat.load_port }}">{{ subcat.load_port}}</option>
    {% endfor %}
{% endif %}

{% if select == "Discharge Port" %}
    {% for subcat in discharge_port_list %}
        <option value="{{ subcat.corridor_id }}">{{ subcat.discharge_port}}</option>
    {% endfor %}
{% endif %}
