{% if select != "Sidebar" and select != "Sidebar_DP" and select != "SidebarCommodityDP" %}
    <option value="">--Select {{select}}--</option>
{% endif %}

{% if select == "Corridor" %}
    {% for subcat in corridor_list %}
        <option value="{{ subcat.corridor_id }}">{{ subcat.corridor_name}}</option>
    {% endfor %}
{% endif %}


{% if select == "Pipe" %}
    {% for subcat in pipe_list %}
        <option value="{{ subcat.id }}">{{ subcat.name}}</option>
    {% endfor %}
{% endif %}

{% if select == "Load Port" %}
    {% for subcat in load_port_list %}
        <option value="{{ subcat.load_port }}">{{ subcat.load_port}}</option>
    {% endfor %}
{% endif %}

{% if select == "Discharge Port" %}
    {% for subcat in discharge_port_list %}
        <option value="{{ subcat.corridor_id }}">{{ subcat.discharge_port}}</option>
    {% endfor %}
{% endif %}

{% if select == "Sidebar" %}
    <h2 class="py-2">Country Selected: <b>{{country}}</b></h2>    
    <p class="py-2" style="font-size: 18px;">In <b>{{year}}</b> <b>{{country}}</b> exported a total of <b>{{intake|floatformat:"0"}}</b> tons of crude to Italy.<br>
        {% if intake != 0 %}
            The main corridors are the following:
            <ul class="list-group list-group-flush"></ul>
                {%for key, value in corr_dict.items %}
                <li class="list-group-item">Corridor: <b>{{key}}</b> exported <b>{{value.0|floatformat:"0"}}</b> tons accounted for <b>{{value.1}}</b>% of the 
                    total yearly intake and <b>{{value.2}}</b>% of <b>{{country}}</b> total.</li>
                {%endfor%}
            </u>
        {%endif%}   
    </p>
{% endif %}


{% if select == "Sidebar_DP" %}
    <h2 class="py-2">Port Selected: <b>{{discharge_port}}</b></h2>    
    <p class="py-2" style="font-size: 18px;">In <b>{{year}}</b> a total of amount of <b>{{intake|floatformat:"0"}}</b> tons of crude pass through <b>{{discharge_port}}</b>.<br>
        {% if intake != 0 %}
        The main ports of procedence are the following:
        <ul class="list-group list-group-flush"></ul>
            {%for key, value in dict.items %}
            <li class="list-group-item">From port: <b>{{key}}</b> were discharge a total of <b>{{value.0|floatformat:"0"}}</b> tons.</li>
            {%endfor%}
        </u>
    {%endif%}   
    </p>
{% endif %}

{% if select == "SidebarCommodityDP" %}
    <h2 class="py-2">Port Selected: <b>{{discharge_port}}</b></h2> 
    <p class="py-2" style="font-size: 18px;">In <b>{{year}}</b> a total of amount of <b>{{intake|floatformat:"0"}}</b> tons of crude pass through <b>{{discharge_port}}</b>.<br>
        {% if intake != 0 %}
        The main ports of procedence for petroleum products are the following:
        <ul class="list-group list-group-flush"></ul>
            {%for key, value in dict.items %}
                <li class="list-group-item">From port: <b>{{key}}</b> were discharged a total of <b>{{value.1|floatformat:"0"}}</b> tons of <b>{{value.0}}</b>.</li>
            {%endfor%}
        </u>
    {%endif%}   
    </p>
    <div class="container-fluid" style="position: relative; margin-right:0px;">
        {% autoescape off %}{{ fig }}{% endautoescape %}
    </div>
{% endif %}