{% extends "stories/base.html"%}
{% load custom_template_tags %}
{% load static %}


{% block header %}
    <div class="container-fluid bg-light">
        <h1 class="h1-left">Major Italian Petroleum Products Supply Ports</h1>
        <div class="btn-group btn-block">
          <form class="h1-left pb-2 text" name="myform" id ="myform" method="POST"> {% csrf_token %}
            <select class="text-center" id="sel_year" name="year">
              {%if year %}
                <option value="{{year}}" selected>{{year}}</option>
              {%else%}
                <option value="" selected disabled hidden>--Select Year--</option>
              {%endif%}
              {% for year in years%}
                  <option class="dropdown-item" value={{year.year}}>{{year.year}}</option>  
              {%endfor%}                    
            </select>
            <select class="text-center" id="sel_discharge_port" name="discharge_port">
                <option value="" selected disabled hidden>--Select Discharge Port--</option>
                {% for corridor in corridors%} 
                  <option value="{{corridor.discharge_port}}"> {{corridor.discharge_port}}</option>
                {%endfor%}     
            </select>

            <button id='filter' type="submit" class="btn btn-primary">Filter</button>      
          </form>
      </div>
      
    </div>
    
    <script>
      $("#sel_discharge_port").change(function () {
              var discharge_port_sel = $(this).val();  // get the selected country ID from the HTML input
              $.ajax({                       // initialize an AJAX request
                url: "{% url 'ajax_sidebar_dicharge_port_commodity' %}", // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                  'discharge_port': discharge_port_sel, // add the country id to the GET parameters
                  'year': "{{year | safe}}", 
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                  $("#sidebar").html(data);  // replace the contents of the city input with the data that came from the server
                }
              });  
            });
    
      $(document).ready(function () {   
        $('#filter').prop('disabled', true);   // SET THE PROPERTY AFTER THE PAGE HAS LOADED.
        $('#sel_year').change(function(){
          $('#filter').prop('disabled', false);  
        });
      });
      
      //$('body').html($('body').html().replace(/Egypt, Arab Rep./g, 'Egypt')) 
    </script>

{% endblock header %}

{% block content %}
<div style="padding: 0px 10px 10px 2px;">
    <div class="container-fluid-md bg-white">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="row">
          <div class="text-justify col-md-8">
            <p class="py-3 px-3 text-justify" style="font-size: 22px;"> 
                If on one hand, Italy is a net importer of crude due to the low national production; on the other, Italian refining activity produce several oil products 
                which allows to satisfy partly internal demand and consequently to import less from other countries. In year <b>{{year}}</b>, a total amount of <b>{{total_intake}}</b> Mton of petroleum products were discharged in Italian ports (<b>{{variation}}</b>% with respect to the previous year).  
                Instead of crude, the amount of petroleum products discharged by port is well distributed:
            </p>
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" style="margin-left: 100px;">
                    {% autoescape off %}
                        {{ stackplot }}
                    {% endautoescape %}
                  </div>
                  <div class="carousel-item" style="margin-left: 10px;">
                    {% autoescape off %}
                        {{ sunburst }}
                    {% endautoescape %}
                  </div>
                </div>
                <button class="carousel-control-prev" style=" filter: invert(100%);" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" style=" filter: invert(100%);" type="button" data-bs-target="#carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>   

        </div>   
        <div id='sidebar'class="col-md-4 bg-side">
          {% if select_dicharge_port %}
           AJAX
          {%else%}
            <h2 class="py-2">Please Select a Port </h2>
            <p class="py-2" style="font-size: 18px;">Use the filter in the bar above to select the desire configuration.
            <br>If you are only interested in change the year of the default story it is possible but anything will be updated on this side.</p>
            <div class="container py-5" style="height: 500px; width: 400px;">
              <img src= "{% static '/stories/images/cog.svg'%}" class="img-fluid" alt="">
            </div>
            {%endif%}
        </div>
      </div>
    </div>
  </div>
  
  {% endblock content %}