{% extends "stories/base.html"%}
{% load static %}

{% block content %}

<div class="container contact-container">
    <div class="col-md-7 contact-form-2">
        <h1>Contact</h1>
        <h2>Request a new Story or an Enhacement</h3>
        
        <form method="POST"> {% csrf_token%}
            <div class="form-group">
                {{form.first_name}}
                <br>
            </div>
            <div class="form-group">
                {{form.last_name}}
                <br>
            </div>
            <div class="form-group">
                {{form.email_address}}
                <br>
            </div>
            <div class="form-group">
                {{form.message}}
                <br>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btnSubmit" value="Send Email" />
                <br>
            </div>
            <input type="hidden" name=flag value="contact"/>
        </form>
    </div>
</div>

{% endblock content %}