{% extends "stories/base.html"%}
{% load custom_template_tags %}


{% block header %}
    <div class="container-fluid bg-light">
        <h1 class="h1-left">Amazing Crude Story</h1>
        <div class="btn-group btn-block">
          <form class="h1-left pb-2 text" name="myform" id ="myform" method="POST"> {% csrf_token %}
              <select class="text-center" id="sel_country" name="load_country">
                  <option value="" selected disabled hidden>--Select Load Country--</option>
                  {% for name in corridors%}
                      <option class="dropdown-item" value={{name.load_country}}>{{name.load_country}}</option>  
                  {%endfor%}                 
              </select> 
              <select class="text-center" id="sel_corridor" name="corridor_id">
                <option value="" selected disabled hidden>--Select Corridor--</option>
              </select>
              <select class="text-center" id="sel_pipe" name="pipe_id">
                <option value="" selected disabled hidden>--Select Pipeline--</option>
              </select>
              <input type="text" name="daterange" value="{{start_date}} - {{curr_date}}" />   
              <button type="submit" class="btn btn-outline-primary">Filter</button>                  
          </form>
      </div>
      
    </div>
    
    <script>
      $("#sel_country").change(function () {
        var country_sel = $(this).val();  // get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
          url: "{% url 'ajax_load_corridor' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'country': country_sel       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#sel_corridor").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });  
      });

      $("#sel_corridor").change(function () {
        var corridor_sel = $(this).val();  // get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
          url: "{% url 'ajax_load_pipe' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'id': corridor_sel       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#sel_pipe").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
      });
      
      $(function() {
        $('input[name="daterange"]').daterangepicker({
          showDropdowns: true,
          opens: 'center',
          format: 'YYYY-MM-DD'
        }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
          $.ajax({ 
            data: {
              'start_date': start.format('YYYY-MM-DD'),
              'end_date' : end.format('YYYY-MM-DD')
            }
            
          })
             //alert("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'))     
        });
      });

    </script>

{% endblock header %}


{% block content %}

<div style="padding: 0px 10px 10px 2px;">
  <div class="container-fluid-md bg-white">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-md-8">
          <p class="py-3 px-3" style="font-size: 18px;">Currently so far this year for the period from {{start_date}} to {{curr_date}} {{total_intake}} tons of crude has beed discharged in Italy, with a variation of {{variation}} % with respect to the same dates of previous years.
          <br></p>
          <h4 style="margin-left: 20px;">The ports that import more crude are:</h4>
          <div class="container" style="width:400px; height:300px;">
            {% autoescape off %}{{df_ports}}{% endautoescape %}
          </div>
          <div class="container">
            {% autoescape off %}
              {{ plot_div }}
            {% endautoescape %}
          </div>
          
        </div>
        <div class="col-md-4 bg-side">
            {% if select_corridor %}
              <h3>{{select_corridor.corridor_name}}</h3>
              <div class="container">
                {% autoescape off %}
                  {{ bar_div }}
                {% endautoescape %}
              </div>
            {%else%}
              <h3>Please Select a Corridor </h3>
            {%endif%}
            <p>Poner aqui cosas interactivas</p>
        </div>
      </div>
  </div>
</div>
{% endblock content%}