{% extends "stories/base.html"%}
{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2 class="h2-pad fw-bolder">Welcome {{request.user.first_name}}: Your Stories</h1>
    {% else %}
        <h2 class="h2-pad fw-bolder ">Welcome Guest: Your Stories</h1>
    {%endif%}

    <div class="container-fluid push-bottom cards-home" style="padding-left: 50px;">
        <div class="row row-card pt-4 gx-5">
          <div class="col-md-3" style="margin-left: 5px;">
            <div class="row row-card row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card shadow p-1">
                  <img src="{% static '/stories/images/oil_orange.jfif'%}" class="card-img-top" alt="..." width="225px" height="175px">
                  <div class="card-body">
                    <h4 class="card-title">Crude Imported to Italy Test</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="text-center">
                      <a href="{% url 'story_ajax' %}" class="btn btn-primary" href="#" role="button">Story time</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow p-1">
                  <img src="{% static '/stories/images/crude_oil.jpg'%}" class="card-img-top" alt="..." width="225px" height="175px">
                  <div class="card-body">
                    <h4 class="card-title">Crude Imported to Italy</h4>
                    <p class="card-text">Statistics regarding the quantity and risk of transporting crude to italian ports by year.</p>
                    <div class="text-center">
                      <a href="{% url 'story_oil' %}" class="btn btn-primary" href="#" role="button">Story time</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                  <div class="card shadow p-1">
                      <img src="{% static '/stories/images/crude_oil.jpg'%}" class="card-img-top" alt="..." width="225px" height="175px">
                      <div class="card-body">
                        <h4 class="card-title">Main Crude Oil Suppliers for Italy </h4>
                        <p class="card-text">Annual statistic of the major oil exporting countries for italian oil supply system.</p>
                        <div class="text-center">
                          <a href="{% url 'story_oil_intake' %}" class="btn btn-primary" href="#" role="button">Story time</a>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col">
                  <div class="card shadow p-1">
                      <img src="{% static '/stories/images/crude_oil.jpg'%}" class="card-img-top" alt="..." width="225px" height="175px">
                      <div class="card-body">
                        <h4 class="card-title">Major Italian Crude Oil Supply Ports</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="text-center">
                          <a href="{% url 'story_dicharge_port_oil' %}" class="btn btn-primary" href="#" role="button">Story time</a>
                        </div>
                      </div>
                    </div>
              </div>
              
              <div class="col">
                <div class="card shadow p-1">
                    <img src="{% static '/stories/images/crude_oil.jpg'%}" class="card-img-top" alt="..." width="225px" height="175px">
                    <div class="card-body">
                      <h4 class="card-title">Major Italian Petroleum Products Supply Ports</h4>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="text-center">
                        <a href="{% url 'story_dicharge_port_commodity' %}" class="btn btn-primary" href="#" role="button">Story time</a>
                      </div>
                    </div>
                  </div>
            </div>

            </div>
          </div>
          <div class="col-sm-5 about">
            <h3>Oil IST Platform</h3>
            <p>Meet IST. A data storytelling product that tells your customers what they need to know – and brings the story to them instead of forcing them to go find it.</p>
          </div>
     </div>

    
{% endblock content%}


{% block footer %}
    <div class="container-fluid footer-dark">
        <footer>
            <div class="div-foot">
                <div class="row" style="width:980px;">
                    <div class="col-ms-6 col-md-3 item ms-left">
                        <img class="poli-image" src="{% static '/stories/images/logo_poli.svg'%}" alt="" width="250" height="250" >
                    </div>
                    <div class="col-md-4 col-md-3 item" style="padding-top: 70px;">
                        <p class="px-5">
                            <span id="titolo_footer">Politecnico di Torino</span><br/>
                            Corso Duca degli Abruzzi, 24<br/>
                            10129 Torino, ITALY<br/>
                            P.IVA/C.F.: 00518460019
                        </p>
                    </div>
                    </div>
            </div>
        </footer>
    </div>
{% endblock footer%}

      
