.html {
    height: 100%;
}

.bg-custom{
    background:#1414ed;
}

.h1-left{
    margin-left: 250px;
}
.h2-pad {
    margin-left: 230px;
    margin-top: 25px;
}
.bg-body{
    background-color: #f2ece8 !important;
}
.bg-card{
    background-color: #f0e3da;
}

.bg-s{
    background-color: #f1f1f1;
}

.row {
    width: 1200px;
    border: none;
    border-radius: 0;
    box-sizing: border-box
}

/*LOGIN IN */
.login-container{
    margin: auto;
    /*border: 5px solid #FFFF00;*/
    margin-top: 5%;    
}

.login-form-2{
    width:50%;
    margin: auto;
    padding: 7%;
    padding-bottom: 10%;
    /*background: #0062cc;
    background: linear-gradient(to bottom, #177b8f 50%, #05445E 100%, #56aca3 80%);*/
    background: linear-gradient(to bottom, #1414ed 20%, #05125e 100%, #56aca3 90%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h1{
    text-align: center;
    color: #fff;
    font-size: 55px;
    font-weight: 800;
}

.login-container form{
    padding: 5%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-2 .SignUp{
    color: #fff;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
}

/* SIGN UP */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.signup-container .row {
    width: 1100px;
    border: none;
    border-radius: 0;
    box-sizing: border-box
}

.signup-container .lcol {
    background: linear-gradient(to bottom, #1414ed 20%, #05125e 100%, #56aca3 90%);
    height: 700px;
    padding: 0 35px
}

.signup-container .rcol {
    background: #fff;
    padding: 80px;
    height: 700px
}

span.txt {
    color: #17C296
}

.greeting {
    padding-top: 100px;
    padding-right: 90px
}

.signup-container .h5.mt-3 {
    padding-right: 115px
}

.footer {
    margin-top: 220px
}

.footer span {
    color: #B0A1E2;
    font-size: 9px;
    cursor: pointer
}

.fab {
    color: #EDEDF5;
    font-size: 10px;
    margin-right: 20px;
    padding-top: 3px;
    cursor: pointer
}

h1.heading {
    font-weight: bold
}

.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #F2F2F2
}

.form-control::placeholder {
    font-size: 18px;
    color: #C2C2CC;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #F2F2F2
}

.fone input {
    padding-left: 20px
}

.fone {
    position: relative
}

.fone .fas {
    position: absolute;
    left: 0;
    top: 5px;
    padding: 8px 0px;
    color: #C2C2CC;
    font-size: 14px
}

.fone .image {
    position: absolute;
    left: 275px;
    top: 0px;
    cursor: pointer
}

.form-check-input {
    margin-top: 15px
}

.form-check-label {
    font-size: 12px;
    color: #C2C2CC
}

.btn-success {
    padding: 10px 40px;
    background: #11C892;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
}

.btn-success:hover {
    background: #11C892
}

.btn-success:focus {
    box-shadow: none
}

u {
    cursor: pointer
}

p.exist {
    font-size: 15px;
    color: #84848a
}

p.exist span {
    cursor: pointer;
    color: #ABA5D3
}

/*PRICING*/
.demo
{
	padding: 50px 0;
}
.heading-title
{
	margin-bottom: 50px;
}

.pricingTable{
    border: 2px solid #e3e3e3;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    transform: translateZ(0px);
    background: #f3f5f4;
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.pricingTable:before{
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
}

.pricingTable:after{
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
}

.pricingTable:hover:before{
    transform: scaleY(1);
}

.pricingTable:hover:after{
    transform: scaleX(1);
}

.pricingTable .pricingTable-header{
    /*background: #08c6aa;*/
    background: linear-gradient(to right, #fb279c 20%, #7a3388);
    color: #fff;
    margin: -2px -2px 35px;
    padding: 40px 0;
}

.pricingTable .pricingTable-header.blue{
    /*background: #08c6aa;*/
    background: linear-gradient(to right,#1414ed 20%, #05125e);
}

.pricingTable .pricingTable-header.orange{
    /*background: #08c6aa;*/
    background: linear-gradient(to right, #e3e627 20%, #be5916);
}

.pricingTable .btn-blue{
    background: linear-gradient(to right, #02C3EE, #0053C3);
    color: #fff;
    font-weight: 500;

}

.pricingTable .btn-org{
    background: linear-gradient(to right, #ca177a, #743181);
    color: #fff;
    font-weight: 500;

}

.pricingTable .btn-orange{
    background: linear-gradient(to right, #fc9211, #f26304);
    color: #fff;
    font-weight: 500;

}

.pricingTable .heading{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.pricingTable .subtitle{
    font-size: 14px;
    display: block;
}

.pricingTable .price-value{
    font-size: 72px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.pricingTable .currency{
    font-size: 45px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: -30px;
}

.pricingTable .month{
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    right: -40px;
}

.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .pricing-content li{
    font-size: 16px;
    color: #7a7e82;
    line-height: 40px;
}


@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }
}